* {
    
    font-family: cursive;
    font-size: medium;
    box-sizing: border-box;
    font-family: fantasy;

}

.navbar {

   
    
}

.logo {
    width: 60px;
    position: fixed;
}
/* Estilos para la lista en el costado derecho de la página */
.first-ul {
    text-align: right;
}

.first-ul ul {
    list-style-type: none;
    padding: 0;
  display: inline-flex; /* Hace que los elementos de la lista sean horizontales */
}

.first-ul li {
    text-transform: lowercase;
    margin: 0 10px; /* Espaciado horizontal entre elementos */
}

.first-ul a {
    text-decoration: none;
    color: #000;
    font-family: 'fantasy', sans-serif;
    font-size: larger;
    transition: background-color 0.3s ease;
}

.first-ul a:hover {
    background-color: #c70303d3;
}


.second-li {
    position: relative;
    top: 5px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
    margin: 20px 0;
    text-align: center;
    padding: 20px 10px 10px 20px;
    padding-inline-start: 40px 30px 30px 40px;
    height: 20px 10px 10px 20px;
    list-style-type: none;
    
    
}
body {
    
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh
    
}
 
#video-container {
    margin: 20px;
}

.language-section {
    text-align: center;
    margin-top: 20px;
}

.language-section .container {
    text-align: center;
}



.language-section img {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: 100px;
    margin: 10px;
}

.language-section .links-container {
    text-align: center;
}

.language-section ul {
    list-style-type: none;
    padding: 0;
}

.language-section li {
    margin: 10px 0;
}

.language-section a {
    font-family: 'fantasy', sans-serif; /* Usar comillas simples para fuentes con espacios */
    color: #000;
    font-size: larger;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    border: 2px solid #000;
    display: inline-block;
    transition: background-color 0.3s ease;
    }

.language-section a:hover {
        background-color: #ddd; /* Color de fondo al pasar el ratón */
    }



.html5 {
    background-image: url(images/imagen\ html\ icono.png);
    background-position: center;
    background-size: 1px 2px;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    margin: 50px 10px 10px 50px;
    padding: 50px 50px 50px 50px;
}

.css3 {
        background-image: url(images/imagen\ css3\ icono.jpg);
        background-position: center;
        background-size: 1px 2px;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        margin: 50px 10px 10px 50px;
        padding: 50px 50px 50px 50px;
    }

.sass {
        background-image: url(images/imagen\ sass\ icono.jpg);
        background-position: center;
        background-size: 1px 2px;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        margin: 50px 10px 10px 50px;
        padding: 50px 50px 50px 50px;
    }

.bootstrap {
        background-image: url(images/imagen\ bootstrap\ icono.jpg);
        background-position: center;
        background-size: 1px 2px;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        margin: 50px 10px 10px 50px;
        padding: 50px 50px 50px 50px;
    }

.javascript{
        background-image: url(images/imagen\ javascript\ icono.jpg);
        background-position: center;
        background-size: 1px 2px;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        margin: 50px 10px 10px 50px;
        padding: 50px 50px 50px 50px;
    }

.framethree {
        background-image: url(images/imagen\ three.js\ icono.jpg);
        background-position: center;
        background-size: 1px 2px;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        margin: 50px 10px 10px 50px;
        padding: 50px 50px 50px 50px;
    }

.php{
        background-image: url(images/imagen\ php\ icono.jpg);
        background-position: center;
        background-size: 1px 2px;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        margin: 50px 10px 10px 50px;
        padding: 50px 50px 50px 50px;
    }

.framenode{
        background-image: url(images/imagen\ node.js\ icono.jpg);
        background-position: center;
        background-size: 1px 2px;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        margin: 50px 10px 10px 50px;
        padding: 50px 50px 50px 50px;
    }

.jquery{
        background-image: url(images/imagen\ jquery\ icono.jpg);
        background-position: center;
        background-size: 1px 2px;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        margin: 50px 10px 10px 50px;
        padding: 50px 50px 50px
        } 

  .angular17{
        background-image: url(images/imagen\ angular17\ icono.jpg);
        background-position: center;
        background-size: 1px 2px;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        margin: 50px 10px 10px 50px;
        padding: 50px 50px 50px 50px;
    }

.framevue{
        background-image: url(images/imagen\ vue.js\ icono.jpg);
        background-position: center;
        background-size: 1px 2px;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        margin: 50px 10px 10px 50px;
        padding: 50px 50px 50px 50px;
    }

.framereact {
        background-image: url(images/imagen\ react.js\ icono.jpg);
        background-position: center;
        background-size: 1px 2px;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        margin: 50px 10px 10px 50px;
        padding: 50px 50px 50px 50px;
    }

.a ul li a {
    font-family: fantasy;
    color: #000;
    font-size: larger;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 1px 1px 1px 1px;
    border: 10px;
    padding: 1em;
    display: inline-table;
    list-style-type: none;

}

.ejercicio-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
 }
 
 #ejercicio {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
 }
 

 .footer {
    text-align: center; /* Centra el texto en el footer */
    padding: 20px; /* Agrega relleno alrededor del contenido del footer */
    margin-top: 20px; /* Agrega margen superior al footer para separarlo del contenido superior */
    background-color: #f4f4f4; /* Agrega un color de fondo al footer (puedes ajustar el color según tus preferencias) */
}

.links {
    margin-bottom: 10px;
}

 .links ul {
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
    list-style-type: none; /* Elimina los puntos de la lista */
    display: flex; /* Utiliza flexbox para alinear los elementos horizontalmente */
    justify-content: center;
}

.links ul li {
    margin-right: 10px; /* Agrega un margen derecho entre los elementos de la lista */
}

.links ul li a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    color: #000;
}

.links ul li a:hover {
    background-color: #ddd; /* Cambia el color de fondo al pasar sobre los enlaces */
    color: #570707; /* Cambia el color del texto al pasar sobre los enlaces */
}


